@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	margin-top: 0;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
	display: inline-block;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family:;
	font-weight:;
	line-height: 1.2;
}





/*hidden properties*/

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.list-reset {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

/*block properties*/

.block {
	padding-top: 40px;
	padding-bottom: : 60px;
}

.block__inner {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	
}

.block__title {
	text-align: center;
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
}


.block__descr {
	text-align: center;
	opacity: 0.75;
	color: #333333;
}

.button {
	color: #00e0d0;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #00e0d0;
	padding: 10px 20px;
}

/*header*/

.up {
	/*border: 3px solid red;*/
	background-image: url(../images/header_pic.png);
	height: 669px;
}

.header {
 	padding-bottom: 100px;
	/*position: absolute;*/
	top: 0;
	left: 0;
	right: 0;
	color: #302a4e;
	max-height: 70px;
}

.header_inner {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: #302a4e;*/
}

.logo {
	color: inherit;
	position: relative;
	display: flex;
	align-items: center;
	max-width: 14em;
}

.logo:before {
	content: '';
	display: block;
	width: 135px;
	height: 55px;
	flex-shrink: 0;
	margin-right: 330px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

/*Navigation Bar*/

.header__inner {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__nav {
	margin-left: auto;

}

.header__menu {
	display: flex;
	justify-content: center; 
	align-items: center;	
}

.header__menuItem {
	font-family: "Roboto - Black";
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.2;
	margin-right: 25px;
}

.header__menuItem:lastchild {
	margin-right: 0;
}

.header__link {
	color: #ffffff;
}

.header__link--active {
	color: #00e0d0;
}

/*---------SLIDER-------------------------------------------------------------*/

.slider {
	/*background-color:#302a4e;*/
	margin-top: 0;
	padding-top: 0;
}

.slider__inner {
	text-align: center;
}

.slider__slides {
	width: 960px;
	text-align: center;

}

.slider__title {
	color: #ffffff;
	font-family: "Playfair Display - Black";
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: none;
}

.slider__descr {
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.slider__button {
	margin-top: 30px;
}

/*Hidden slide*/
.slider__slide {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.slider__dots {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}


/*Hidden dot*/
.slider__dot {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

/*--------EXPERTISE------------------------------------------------*/

.expertise__inner {
	opacity: 0.75;
	color: #333333;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

.expertise__title {
	margin-bottom: 0;
}

.expertise__descr {
	margin-top: 0;
}

.expertise__list {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	width: 960px;
}


.expertise__item {
	width: 33.333%;
	box-sizing: border-box;
	padding-left: 20px;
	text-align: center;
}

.expertise__item:lastchild {
	padding-left: 0;
}

/*--------TEAM-----------------------------------------------------*/
.team {
	background-image:url(../images/header_pic.png);
	background-color:#302a4e;
}


.team__inner {
	
	color: #f3f3f3;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.team__title {
	color: white;
	margin-bottom: 0;
}

.team__descr {
	color: white;
	margin-top: 0;
}

.team__list {
	margin-top: 30px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	width: 600px;
	/*height: 200px;*/
	margin-left: auto;
	margin-right: auto;

}

.team__item {
	width: 25%;
	box-sizing: border-box;
	border: 1px solid white;

}

/*------OUR WORKS-------------------------------------------------------*/

.ourWorks__inner {
	color: #413d4b;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
}

.works__header {
	display: flex;
	align-items: center;
	width: 960px;
}

.ourWorks__title {
	margin-right: auto;
}

.ourWorks__button {
	color: grey;
	border: none;
	margin-left: auto;
	padding: 0 0 0 0;
}

.ourWorks__photos {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
}

.ourWorks__photo {
	width: 16.666%
}



.ourWorks__inner {
	text-align: center;
}

.ourWorks__buttonLoad {
	margin-top: 50px;
	margin-bottom: 50px;

}

/*------------FOOTER-------------------------------------------*/
.footer {
	background-image:url(../images/footer_pic.png);
	background-color:#302a4e;
}

.footer__inner {
	
	color: #ffffff;
	width: 1200px;
}

.footer__column {
	display: flex;
	line-height: 2;
}

.column__title {
	text-transform: uppercase;
}

.form__title {
	text-transform: uppercase;
}

.column__tajam {
	width: 33.333%;
	padding-right: 30px;
}


.column__studio {
	width: 33.333%;
	padding-right: 30px;
}

.studio__list-item{
	padding-bottom: 10px;
}

.studio__list-item::lastchild {
	padding-bottom: 0;
}

.column__stay {
	width: 33.333%;
	padding-right: 30px;
}

.social__list {
	display: flex;
}



.footer__row {
	display: flex;
	width: 960px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.footer__row-buttons {
	display: flex;
	margin-right: auto;
}

.footer__buttons-item {
	padding-right: 30px;
	color: white;
	text-transform: uppercase;
	color: white;
}

.footer__buttons-item::lastchild {
	padding-left: 0;
}

.footer__row-copyright {
	margin-left: auto;
}